[submodule "test_sub"]
	path = test_sub
	url = https://github.com/evilbrave/test_gitmodule_2.git/
	branch = aaa
[submodule "XDDD"]
	path = XDDD
	url = https://github.com/evilbrave/test_gitmodule_2.git
	branch = aaa
